@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #0F172A;
  --color-accent: #22C55E;
  --color-background: #F8FAFC;
  --color-text: #020617;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}
